@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$main-color-login: #2675bb;
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: $main-color-login;
}

.img-login {
    width: 200px;
    margin-bottom: 1.2em;
}

.title-login {
    color: $main-color-login;
    margin: 0.5em 0 1.5em 0;
    font-family: 'Nunito', sans-serif;
}

.card-login {
    height: 480px;
    border-radius: 10px;
    min-width: 320px;
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.input-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    >mat-icon {
        color: $main-color-login
    }
}

.ancho-input {
    width: 80%;
}

.passwd-field {
    margin-bottom: 3em;
}

.button-dms {
    height: 50px;
    background-color: #333399;
    color: #fff;
}

.spinner {
    margin: 0 auto;
}

p.foot-login {
    margin-top: 1.5em;
    color: #26a3de;
    font-weight: 500;
}

@media (max-width: 480px) {
    .card-login {
        height: 100%;
        width: 100%;
    }
}