@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #2675bb;
}

.img-login {
    width: 200px;
    margin-bottom: 1.2em;
}

.title-login {
    color: #2675bb;
    margin: 0.5em 0 1.5em 0;
    font-family: 'Nunito', sans-serif;
}

.card-login {
    height: 450px;
    border-radius: 10px;
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.ancho-input {
    width: 80%;
}

.passwd-field {
    margin-bottom: 3em;
}

.button-dms {
    height: 50px;
    background-color: #333399;
    color: #fff;
}

.spinner {
    margin: 0 auto;
}